<% if @user.errors.any? %>
        $("#email_error").html('');
        $("#city_error").html('');
	<% @user.errors.messages.each do |key, val| %>
		$("#<%= key %>_error").html("<%= key.to_s.capitalize + ' ' + val.to_sentence %>");
	<% end %>
<% else %>
    $(".formContainer").flip({
      direction:'rl',
      content:'<div class="thanks">Thanks for showing your interest.</div>',
      color: '#69A4D0'
    })
<% end %>

function RevertFlip(){
  $(".formContainer").revertFlip();
}